<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{input.title}"></title>
</head>
<body>
    <div layout:fragment="content">
        <h1 th:text="#{input.title}"></h1>
        <form id="form" th:action="@{/output}" method="get" th:object="${inputList}">
            <table>
                <tr>
                    <th th:text="#{input.label.chapter}"></th>
                    <th th:text="#{input.label.question}"></th>
                </tr>
                <tr th:each="record, st: *{records}">
                    <td>
                        <input type="text" th:field="*{records[__${st.index}__].chapter}">
                    </td>
                    <td>
                        <input type="text" th:field="*{records[__${st.index}__].question}">
                    </td>
                </tr>
            </table>
            <button type="button" th:text="#{input.button.add}"></button>
            <button type="submit" th:text="#{input.button.shuffle}"></button>
        </form>
        <script th:inline="javascript">
        </script>
    </div>
</body>
</html>