<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{input.title}"></title>
</head>
<body>
    <div layout:fragment="content">

        <h1 th:text="#{input.title}"></h1>

        <form id="form" th:action="@{/output}" method="get">
            <table>
                <tr>
                    <th th:text="#{input.label.chapter}"></th>
                    <th th:text="#{input.label.question}"></th>
                </tr>
                <tr v-for="record in getAllRecord">
                    <td>
                        <input type="text" :name="record.chapter">
                    </td>
                    <td>
                        <input type="text" :name="record.question">
                    </td>
                </tr>
            </table>
            <button type="button" th:text="#{input.button.add}" @click="addRecord()"></button>
            <button type="submit" th:text="#{input.button.shuffle}"></button>
        </form>

        <script th:inline="javascript">
            const { createApp } = Vue;
            createApp({
                data() {
                    return {
                        recordsSize: 1
                    }
                },
                methods: {
                    addRecord() {
                        this.recordsSize++;
                    }
                },
                computed: {
                    getAllRecord() {
                        const records = [];
                        for (var i = 0; i < this.recordsSize; i++) {
                            var record = {};
                            record.chapter = "records[" + i + "].chapter";
                            record.question = "records[" + i + "].question";
                            records.push(record);
                        }
                        return records;
                    }
                }
            }).mount('#form');
        </script>
    </div>
</body>
</html>