<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{output.title}"></title>
</head>
<body>
    <div layout:fragment="content">
        <h1 th:text="#{output.title}"></h1>
        <table>
            <tr th:each="record, st: ${questionList}">
                <td th:text="${record}"></td>
            </tr>
        </table>
    </div>
</body>
</html>